.head2 {
  height: 125px;
  margin-top: 20px;
  width: 100%;
}

.welcome {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://content.presspage.com/uploads/1093/1920_csusm014.jpg?10000');
  background-attachment: local;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

p1 {
  color: white;
  display: block;
  font-size: 60px;
  padding: 10px;
}

p2 {
  color: white;
  display: block;
  font-size: 30px;
  padding: 10px;
}