.form {
    width: 30%;
}

input[type="text"], input[type="password"] {
    width: 99%;
    height: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

input[type="submit"] {
    margin-top: 5%;
}

#cbAdmin {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 0;
}
