.form {
    width: 40%;
}

input[type="text"], input[type="password"] {
    width: 99%;
    height: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

input[type="submit"] {
    margin-top: 5%;
}

table {
    margin-top: 5%;
}

th, td {
    text-align: center;
    border: 1px solid black;
}
