.header{
     width: 1024px;
     height: 125px;
     margin-top: 20px;
}

body
{

font-family: Arial;
background-color: white;
background-image:url('image.jpg');
background-repeat: no-repeat;	
}

li {
  display: inline;
  float: left;
}
a {
  font-size: 20px;
  display: block;
  padding: 5px;
  background-color: blue;
  color: white;
}

#head{
margin: auto;
width: 100%;
border: 5px;
border-style: solid;
border-color: black;
letter-spacing: 1px
border-collapse: collapse;
font-size: 30px;
padding: 40px;
color: white;
background-color: blue;
font-family: Arial;
}